h1,
h2,
h3 {
  color: rgb(80, 72, 70);
  font-family: sans-serif;
}

p {
  text-align: center;
}
/* < !-- Navbar --> */
.navbar-main {
  background-color: rgb(38, 97, 80);
  padding: 1px;
  padding-left: 900px;
  word-spacing: 25px;
  border-bottom: 10px solid rgb(221, 175, 148);
}

.navbar {
  color: white;
  display: inline;
  text-align: right;
}

/* < !-- Main body --> */

.main,
h1 {
  text-align: center;
}

/* Boxes */

.first {
  width: 400px;
  height: 400px;
  background: rgb(79, 72, 70);
  position: relative;
  margin-left: 390px;
}

.second {
  width: 350px;
  height: 350px;
  background: rgb(79, 72, 70);
  border: 10px solid rgb(234, 207, 192);
  position: relative;
  margin-left: 15px;
  top: 15px;
}

.third {
  width: 300px;
  height: 300px;
  background: rgb(79, 72, 70);
  border: 6px solid darkgreen;
  position: relative;
  margin-left: 15px;
  top: 15px;
}

.fourth {
  width: 250px;
  height: 250px;
  background: rgb(79, 72, 70);
  border: 10px solid rgb(234, 207, 192);
  position: relative;
  position: relative;
  margin-left: 15px;
  top: 15px;
}

.main, h2 {
  color: rgb(234, 207, 192);
  position: relative;

}

.coming-soon {
  line-height: 2px;
  color: rgb(234, 207, 192);
  padding: 1rem 1rem;
  margin: 1rem;
}
/* < !-- Contact me --> */
.contact-me {
  background-color: rgb(232, 206, 191);
  padding: 2rem 2rem;
  border: 4px;
  text-align: center;
  border-top: 3px solid rgb(221, 175, 148);
}

/* .btn {
  background: #4f4846;
  background-image: -webkit-linear-gradient(top, #4f4846, #4f4846);
  background-image: -moz-linear-gradient(top, #4f4846, #4f4846);
  background-image: -ms-linear-gradient(top, #4f4846, #4f4846);
  background-image: -o-linear-gradient(top, #4f4846, #4f4846);
  background-image: linear-gradient(to bottom, #4f4846, #4f4846);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 11px;
  padding: 10px 35px 10px 35px;
  text-decoration: none;
line-height: 1rem;
} */

/* .name-email {
  right: 400px;
}
.name-email,
p {
  line-height: 4px;
} */

.email,
.name {
  margin: 5px;
  padding: 0 80px;
}

.btn {
  color: white;
  background-color: rgb(79, 72, 70);
  padding: 10px 35px;
  position: relative;
  margin-left: 2rem;
  top: 7px;
  text-decoration: none;
}

/* < !-- Footer --> */
.footer {
  color: white;
  background-color: rgb(38, 97, 80);
  padding: 1px 1px;
  text-align: center;
  border-bottom: 8px solid rgb(79, 72, 70);
}
